#bg-background{
    background-color:#fff;
    padding:10px;
    border-radius:5px;
}
#product{

    padding:5px;
    clear:both;
}
#p_list{
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    width:200px;
    max-width:200px;
    height:280px;
    padding:5px;
    border:2px solid #ccc6c6;
    float:left;
    margin:15px;
}
#p_list img{
    height:150px; 
    width:150px;
}

#inputQuantity[type="text"] {
    padding: 8px;
    margin-right: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
  }
  .mainContent {
    height: 500px;
    background-color: #E6E6E6;
    width: 650px;
}

#btn-buy{
    font-family: Arial, sans-serif;
    border-radius: 5px;
    color: #fff;
    display:table-column;
    margin: 1.5rem, auto 0 auto;
    padding: 10px 10px;
    border: none;
    background-color: #7b7b80;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
}
#btn-buy:hover{
    background-color: #4991f0;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

#img:hover{
    padding: 10px;
    transition: .4s;
}

#img {
    max-height: 300px;
  }
  
  #addtocart {
    font-family: Arial, sans-serif;
    border-radius: 5px;
    color: #fff;
    margin-top: 1.5rem;
    padding: 10px 30px;
    border: none;
    background-color: #7b7b80;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s;
  }
  
  #addtocart:hover {
    background-color: #4991f0;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    transform: translateY(-2px);
  }
  
  .form-label {
    font-size: 1.2rem;
    font-weight: 500;
  }

  #img {
    display: block;
    margin: 0 auto;
  }

  /* Style the product details */
  h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }

  p {
    font-size: 16px;
    margin-bottom: 10px;
  }

  button {
    margin-top: 20px;
  }
  
 