#bg-background{
    background-color:#fff;
    padding:10px;
    border-radius:5px;
}
#product{

    padding:5px;
    clear:both;
}
#p_list{
    width:200px;
    max-width:200px;
    height:250px;
    padding:5px;
    border:1px solid #000;
    float:left;
    margin:15px;
}
#p_list img{
    height:150px; 
    width:150px;
}
/* #img:hover{
    background-color: rgb(0, 77, 102)
} */

#inputQuantity[type="text"] {
    padding: 8px;
    margin-right: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
  }
  .mainContent {
    height: 500px;
    background-color: #E6E6E6;
    width: 650px;
}

#btn-buy{
    display:table-column;
    margin: 1.5rem, auto 0 auto;
    padding: 10px 10px;
    border: none;
    background-color: #7b7b80;
    color: #000000 ;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
}
#btn-buy:hover{
    background-color: #4991f0
}

#img:hover{
    padding: 10px;
    transition: .4s;
}
