<div class="container">
	<div class="row">
		<h3 class="text-primary">AngularJS Web Shop</h3>
		<hr style="border-top: 1px dotted #ccc" />
		<div id="bg-background" class="col-8">
			<h4>PRODUCTS</h4>
			<hr style="border-top: 1px groovy #ccc" />
			<input type="text" ng-model="vm.searchTerm" id="searchProd" class="form-control" placeholder="Search" />
			<select ng-model="vm.sortType" ng-change="vm.sortProducts()">
				<option value="alpha">Alphabetical asc</option>
				<option value="alphaReverse">Alphabetical desc</option>
				<option value="price">Price (Low to High)</option>
				<option value="priceReverse">Price (High to Low)</option>
			</select>
			<div id="product">
				<div id="p_list" ng-repeat="product in vm.products | filter:vm.filterProducts">
					<span style="font-size: 16px" ui-sref="ProductDetails({id:product.id})">{{product.name}}</span>
					<center><img id="img" ui-sref="ProductDetails({id:product.id})" ng-src="{{product.image}}" /></center>
					<div><label style="font-size: 14px">Price: ${{product.price}}</label></div>
					<center><button type="button" id="addtocart" class="btn btn-primary" ng-click="vm.addtoCart(product)">Add to cart</button></center>
				</div>
			</div>
		</div>

		<div class="col-4">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h5>MY CART</h5>
					<button id="btnopen" class="btn btn-primary float-right" ng-click="vm.toggleCart()">
						{{ vm.cartIsOpen ? 'Close Cart' : 'Open Cart' }}
						<span class="cart-count">{{vm.cartTotalQuantity()}}</span>
					</button>
				</div>
				<div class="panel-body table-responsive" ng-show="vm.cartIsOpen">
					<table class="table">
						<thead>
							<tr>
								<th>Product</th>
								<th>Price</th>
								<th></th>
							</tr>
						</thead>
						<tbody ng-show="vm.clearingCart">
							<tr>
								<td colspan="4" class="text-center"><i class="fa fa-spinner fa-spin"></i> Clearing cart...</td>
							</tr>
						</tbody>
						<tbody>
							<tr ng-repeat="product in vm.cartData">
								<td>{{product.name}}</td>
								<td>${{product.price}}</td>
								<td><input type="number" ng-model="product.quantity" ng-change="vm.updateQuantity(product)" min="1" max="100" /></td>
								<td><button type="button" ng-click="vm.removeProduct(product)" class="btn bnt-danger">X</button></td>
							</tr>
							<tr ng-init="vm.cartTotal()">
								<td align="right">Total</td>
								<td>${{vm.cartTotal()}}</td>
								<td ng-if="vm.messageQuantity"><p>Quantity must be greater than 0, and less than 100</p></td>
								<td><button id="btn-buy" ng-click="vm.buyOrder()">Buy Now</button></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
