<!-- 
 <div class="container">
    <div class="row">
        <h3 class="text-primary">AngularJS Web Shop</h3>
        <hr style="border-top:1px dotted #ccc;">
        <div id="bg-background" class="col-8">
            <h4>PRODUCT</h4>
            <hr style="border-top:1px groovy #ccc;">
            <div id="product">
                <div id="p_list">
                    <span style="font-size:16px;">id: {{productDetailsCtrl.product.id}}</span>
                    <br>
                    <span style="font-size:16px;">{{productDetailsCtrl.product.name}}</span>
                    <center><img id="img" ng-src="{{productDetailsCtrl.product.image}}"></center>
                    <div><label style="font-size:14px;">Price: ${{productDetailsCtrl.product.price}}</label></div>
                    <button type="button" id="addtocart" class="btn btn-primary" ng-click="productDetailsCtrl.addToCart(productDetailsCtrl.product)">Add to cart</button>
                </div>
            </div>
        </div>
        <a ui-sref="home">Back to Product list</a> 
    </div>
</div> 
 -->

 <div class="container">
   <div class="row">
     <div class="col-6 offset-3">
       <h3 class="text-primary text-center mb-4">AngularJS Web Shop</h3>
       <div id="product" class="bg-white p-4 rounded shadow">
         <div class="row align-items-center">
           <div class="col-md-6 text-center">
             <h4>{{productDetailsCtrl.product.name}}</h4>
             <img id="img" class="img-fluid rounded" ng-src="{{productDetailsCtrl.product.image}}">
             <p id="desc">Description: {{productDetailsCtrl.product.description}}</p>
             <p class="my-4 h4">${{productDetailsCtrl.product.price}}</p>
           </div>
           <div class="col-md-6 text-center">
             <button type="button" id="addtocart" class="btn btn-primary" ng-click="productDetailsCtrl.addToCart(productDetailsCtrl.product, productDetailsCtrl.quantity)">Add to cart</button>
           </div>
         </div>
       </div>
       <a ui-sref="home" class="d-block mt-4 text-center">Back to Product list</a> 
     </div>
   </div>
 </div>