<h1>Product Details</h1>

<table style="border:1px solid black">
    <tr>
        <td>Id</td>
        <td>{{productDetailsCtrl.product.id}}</td>
    </tr>
    <tr>
        <td>Name</td>
        <td>{{productDetailsCtrl.product.name}}</td>
    </tr>
    <tr>
        <td>image</td>
        <td>{{productDetailsCtrl.product.image}}</td>
    </tr>
    <tr>
        <td>quantity</td>
        <td>{{productDetailsCtrl.product.quantity}}</td>
    </tr>
    <tr>
        <td>price</td>
        <td>{{productDetailsCtrl.product.price}}</td>
    </tr>
</table>
<a ui-sref="home">Back to Product list</a>
